{% extends 'base.html' %}
{% load static %}

{% block title %}| Change Password{% endblock title %}

{% block content %}

    <style>
        #change_password_form ul {
            list-style: none;
            margin: 0;
            padding: 0;
            color: red;
        }

    </style>

    <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh">
        <div class="card" style="min-width: 400px">
            <div class="card-body">
                <form action="{% url 'change_password' %}" id="change_password_form" method="POST" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button type="submit" class="btn btn-primary d-block w-100">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}